@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Overpass", sans-serif; */
/* font-family: "Poppins", sans-serif; */

* {
    margin: 0;
    padding: 0;
    
}
.navbar {
    height: 19vh;
    width: 98vw;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    box-shadow: 0px 3px 5px grey;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 70px;
    position: relative;
    top: 0px;
    box-sizing: border-box;
    margin: 0px auto;
}
.logo{
    position: relative;
    bottom: -20%;
}
.logo img{
    height: 90px;
    width: 190px;
}
.nav-elem{
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
}
.nav-elem a{
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 20px;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-delay: 0.15s;
    transition-duration: 0.1s;
    cursor: pointer;
}
.nav-elem a img{
    filter: invert(1);
    position: absolute;
    bottom: 11%;
}

.nav-elem a:hover{
    font-weight: 600;
   
}
.footer {
    background-color: #1A1919;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 60px; 
    padding-bottom: 20px;
    margin-top: 130px;
    box-sizing: border-box; 
}


.footer-content {
    display: flex;
    justify-content: flex-start;
    gap: 40px; 
}


.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.footer-column a {
    color: white;
    text-decoration: underline;
    text-align: left;
    margin: 8px 15px; 
    font-family: "Overpass", sans-serif;
    font-size: 17px;
    font-weight: 300;
}
.language-select {
    display: flex;
    align-items: center;
   
    gap: 5px; 
    margin-top: 20px; 
    margin-left: 12px;
    border: 1px solid white;
    width: fit-content;
    padding: 7px 8px;
    border-radius: 6px;
}

.language-select select {
    background-color: #1A1919;
    color: white;
    border: none;
   
    
    font-family: "Overpass", sans-serif;
    font-size: 14px;
    cursor: pointer;
    width: fit-content; 
    appearance:none; 
}
.language-select select:focus-within{
    
    outline: none;
}

.language-icon {
    width: 20px; 
    height: 20px;
}

.down-arrow {
    width: 16px; 
    height: 16px;
    stroke: white; 
}
.techview{
   margin: 10px 0px 37px 12px;
}
.techview a{
    
    font-size: 14px;
    font-weight: 200;
    font-family: "Overpass", sans-serif;
    color: white;
   text-align: left;
    
}
.copy-rights{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
   margin-top: 27px;
}
.hamburger{
    display: none;
    align-items: center;
    justify-content: center;
}
.hamburger img{
    height: 35px;
    cursor:pointer;
    
    position: relative;
    z-index: 12;
}
.ham-panel{
    
   box-shadow: 0px 2px 5px rgb(198, 197, 197);
    width: 60vw;
    position: absolute;
    z-index: 11;
    top: 0%;
    right: -33%;
    align-content: center;
    justify-content: center;
   display: none;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 42px 10px;
    border-radius: 5px;
   transition: all 1s ease-in-out;
}
.ham-links{
    display: flex;
   align-content: center;
    flex-direction: column;
    margin: 30px 0px;
}
.ham-links a img{
    filter: invert(1);
    height: 23px;
    position: absolute;
    cursor: pointer;
}
.ham-links a{
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    
    padding: 15px 5px;
    border-top: 1px solid black;
   cursor: pointer;
   
}
.ham-links a:hover{
 background-color: rgb(250, 247, 247);

}
.disp-view{
    display: flex;
    right: 3%;
}
.categories{
    box-shadow: 0px 2px 5px rgb(198, 197, 197);
    display: none;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 13px 10px;
    border-radius: 5px;
    width: 15vw;
    position: absolute;
    z-index: 11;
    top: 0%;
    transform: translateY(0%);
    right: 2%;
    align-content: center;
    justify-content: center;
    transition: all 2s ease-in-out;
}
.categories a{
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding: 15px 5px;
    border-top: 1px solid black;
   cursor: pointer;
}
.categories a:hover,.ham-categories a:hover{

    background-color: rgb(243, 241, 241);
}
.categories a:last-child{
    border-top: 1px solid black ;
}
.categories a:first-child{
    border: none;
}
.categories-view{
    display: flex;
    transform: translateY(-33%);
}

.ham-categories{
    display: none;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 0px 10px;
    
    width: 50vw;
   
   margin: -40px auto;
    
    align-content: center;
    justify-content: center;
}

.ham-categories a{
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    padding: 15px 5px;
    border-top: 1px solid black;
   cursor: pointer;
}
.ham-cat-view{
    display: flex;
}
.terms{
    width: 90%;
    font-family: "Overpass", sans-serif;
    border-left: 5px solid black;
    padding: 10px;
    margin: 40px auto;
    font-size: 17px;
    background-color: whitesmoke;
    box-shadow: 0px 1px 4px gray;
}

.terms-content{
    width: 90%;
    margin: -27px auto;
    background-color: whitesmoke;
    box-shadow: 0px 1px 3px gray;
    padding: 10px;
    border-radius: 4px;
}

.terms-content p{
    font-size: 16px;
    padding: 10px;
    font-family: "Poppins",sans-serif;
   
}
.terms-content li{
    font-size: 15px;
    padding: 10px;
    font-family: "Poppins",sans-serif;
   margin: 0px 27px;
}



@media only screen and (min-width: 1250px){
    .categories-view{
        
        transform: translateY(47%);
    }
}
@media only screen and (max-width: 1030px) 
{
    .navbar{
        height: 10vh;
    }
    .logo img {
        height: 83px;
        width: 186px;
    }
    .nav-elem a img {
       
        bottom: 10%;
    }
  
}
@media only screen and (max-width: 840px) 
{
    .navbar{
        height: 10vh;
        padding: 10px 50px;
    }
    .logo img {
        height: 73px;
        width: 176px;
    }
    .nav-elem a{
        font-size: 17px;
    }
    .nav-elem a img {
       height: 20px;
        bottom: 12%;
    }

    .categories{
        width: 20vw;
    }
   

}
@media only screen and (max-width: 770px){
  .nav-elem a{
      font-size: 15px;
  }
  .nav-elem a img {
     height: 20px;
      bottom: 13%;
  }


 
}
@media only screen and (max-width: 430px){
    .navbar{
        height: 10vh;
        padding: 10px 20px;
       
    }
    .nav-elem{
        display: none;
    }
    .logo img {
        height: 50px;
        width: 150px;
    }
    .hamburger{
        display: flex;
    }

}

